*.class
*.log
*.settings
.classpath
.directory
.project
.svn
.idea/
/log
/demo/doc
/foxFeedback.db
/eval
/tmp
/release
/evaluation/tokenBased
/evaluation/entityBased
/evaluation/tokenBasedAll
/evaluation/entityBasedAll
/src/main/java/org/aksw/fox/binding
/externTools/TextPro2.0/*
!/externTools/TextPro2.0/LICENCE
!/externTools/TextPro2.0/NOTICE
/data/maui/*
/data/boa/*/
/src/main/resources/public/demo/doc/*
/docker/en/agdistis/*
/docker/en/spotlight/*
/out/*
/agdistis/*
