*.class
*.log
*.settings
.classpath
.directory
.project
.svn

/log
/demo/doc
/fox.properties
/foxFeedback.db
/eval
/tmp
/release
/evaluation/tokenBased
/evaluation/entityBased
/evaluation/tokenBasedAll
/evaluation/entityBasedAll
/src/main/java/org/aksw/fox/binding
/externTools
/!delme