<div class="container">
    <div data-ng-include src="'templates/partials/navi.html'"></div>
    <br>
    The source code and datasets are available on github.com/dice-group/FOX.<br>
    <br>
    <h3>Requirements</h3><br>
    Unix based platform, Java 8, Maven 3, graphviz<br>
    <br>
    <h3>Downloads</h3>
    Clone the latest version: 
    <pre>git clone -b master https://github.com/dice-group/FOX.git</pre> 
    and follow the installation instructions in the <a href="https://github.com/dice-group/FOX/blob/master/README.md">README.md</a>.<br>
    <br>
    <ul>
        <li><a href="http://github.com/dice-group/fox">source code</a><br><br></li>
        <li><a href="https://github.com/dice-group/FOX/tree/master/input">datasets</a> <br><br></li>
        <li><a href="https://github.com/dice-group/FOX/tree/master/evaluation">raw evaluation data</a></li>
    </ul>
</div>
