<div class="container">
    <div data-ng-include src="'templates/partials/navi.html'"></div>
    <br>
    Fox is an open-source framework under the GNU General Public License Version 3, 29 June 2007. <br><br>
    The source code and the datasets are available on github.com.<br>
    <br>
    Clone the latest version: 
    <pre>git clone -b master https://github.com/AKSW/FOX.git</pre> <br>
     <br>
    <ul>
        <li><a href="http://github.com/AKSW/fox">source of FOX</a><br></li>
      <!--   <li><a href="http://github.com/AKSW/FOX/releases">releases of FOX</a> <br></li> -->
        <li><a href="https://github.com/AKSW/FOX/tree/master/input">datasets of FOX</a> <br></li>
    </ul>
</div>
