<div data-ng-include src="'templates/partials/navi.html'"></div>
<div class="container">
    <a href="https://github.com/AKSW/FOX">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
    </a>
    <h1 class="logo">Federated Knowledge Extraction Framework</h1>
    <p>FOX is a framework that integrates the Linked Data Cloud and makes uses of the diversity of NLP algorithms to extract RDF triples of high accuracy out of NL. In its current version, it integrates and merges the results of Named Entity Recognition tools. Keyword Extraction and Relation Extraction tools will merged soon.</p>
    <br>
    <h2>Framework</h2>
    <p>FOX is a framework and can be used programmatically. For more informations read the <a href="doc/index.html">Java documentation</a>.</p>
    <br>
    <h2>Web API</h2>
    <p>FOX comes with a web API. Read more about the parameter in the <a data-ng-href="index.html#!/doc">documentation</a> or try out the <a data-ng-href="index.html#!/demo">demo</a>.</p>
</div>
